/* style.css */

h1.product-name {
    margin-top: 0;
    font-family: $header-font-family;
    font-size: $h1-font-size;
    margin-bottom: $h1-margin-bottom;
}

.inv-container {
    max-width: 30em;
}

.flex-row {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    cursor: pointer;
    text-decoration: underline;
    color: $link-color;
}

.flex-row:hover {
    text-decoration: none;
    font-size: $list-item-hover-font-size;
}

.flex-row:nth-child(even) {
    background-color: $list-background-color;
}

.flex-item {
    text-align: left;
    margin: 6px;
}

.flex-item.left {
    order: 1;
    flex-grow: 3;
}

.flex-item.right {
    order: 2;
    text-align: right;
}

.product-info {
    font-family: $standard-font-family;
    font-size: $product-info-font-size;
    margin-top: 0;
    width: 100%;
    overflow: hidden;
}

dl.product-info {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 100%;
    overflow: visible;
}

.product-info dt {
    flex: 0 0 45%;
    text-overflow: ellipsis;
    overflow: hidden;
    text-transform: capitalize;
}

.product-info dd {
    flex: 0 0 55%;
    margin-left: auto;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media (min-width: 700px) {
    .product-info dt {
        flex: 0 0 20%;
    }

    .product-info dd {
        flex: 0 0 80%;
    }
}
