/* style.scss */
@import '../node_modules/normalize.css/normalize';
@import 'typography';
@import 'variables';
@import 'color-palette';
@import 'product';

html {
    font-size: 100%;
    overflow-y: scroll;
    height: 100%;
}

body {
    font-family: $standard-font-family;
    font-size: $body-font-size;
    line-height: $body-line-hight;
    max-width: $body-max-width;
    margin: auto;
}

main {
    padding: 1.4rem 0.6rem;
}

h1,
h1.title,
h2,
h3 {
    margin-top: 0;
    font-family: $header-font-family;
}

h1.title {
    font-size: $h1-font-size;
    margin-bottom: $h1-margin-bottom;
    border-bottom: 1px solid $border-line-color;
}

h2 {
    font-size: $h2-font-size;
    margin-bottom: $h2-margin-bottom;
}

h3 {
    font-size: $h3-font-size;
    margin-bottom: $h3-margin-bottom;
}

.container {
    padding: 1rem;
    margin-bottom: 3.2rem;
}

.container p {
    line-height: $body-line-hight;
    font-size: $body-font-size;
    margin-bottom: $magic-number; /* 1rem * 1.4 */
}

.container img {
    width: 100%;
}

.top-nav {
    top: 0;
    overflow: hidden;
    border-bottom: 1px solid $border-line-color;
    padding: 0.8rem;
    background: $background-color;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: left;
}

.top-nav a {
    text-align: center;
    color: $link-color;
    text-decoration: underline;
    cursor: pointer;
}

.top-nav a:hover {
    text-decoration: none;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    overflow: hidden;
    border-top: 1px solid $border-line-color;
    width: 100%;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    background: $background-color;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.bottom-nav a {
    text-align: center;
    color: $bottom-nav-color;
    cursor: pointer;
}

.bottom-nav a.active {
    color: $bottom-nav-active-color;
}

.bottom-nav i {
    display: block;
}

.bottom-nav span {
    font-size: 0.7rem;
}

@media (min-width: 700px) {
    .bottom-nav {
        max-width: $body-max-width;
    }
}
